.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 100px);
}

#grid-item-1 {
    /* grid-column-start: span 2; */
    
}

#grid-item-2 {
    grid-template-columns: span 1;
}

#grid-item-3 {
    grid-template-columns: span 1;
}

#grid-item-4 {
    grid-area: 2 / 2 / 2 / 4;
}
