.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 7fr 1fr;
}

#navbar {
  grid-column-start: span 5;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-column-start: span 1;
  grid-row-start: span 2;
}

#title {
  grid-column-start: span 4;
}


#content {
  grid-column-start: span 4;
}

#footer {
  grid-column-start: span 5;
}
